{
  "env": {
    "node": true,
    "mocha": true
  },
  "globals": {
    "chai": false,
    "expect": false,
    "sinon": false
  },
  "extends": "./../.eslintrc",
  "rules": {
    "no-restricted-globals": ["off", "Promise"]
  }
}
