{
  "presets": [["es2015", { "modules": false }]],
  "plugins": ["transform-object-assign"],
  "env": {
    "test": {
       "plugins": ["istanbul", "transform-es2015-modules-commonjs"]
     }
   }
}
