version: 2
jobs:
  build:
    working_directory: ~/enigma.js
    docker:
      - image: circleci/node:8.2.1
    environment:
      - NPM_CONFIG_LOGLEVEL=warn
    steps:
      - checkout
      - run:
          name: Update npm
          command: |
            npm install -g npm@5 greenkeeper-lockfile@1
            greenkeeper-lockfile-update
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Install dependencies
          command: |
            npm install
            greenkeeper-lockfile-upload
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run:
          name: Linting
          command: npm run -s lint
      - run:
          name: Unit & component testing
          command: npm run -s test
      - run:
          name: Generate JSDoc
          command: npm run -s jsdoc
      - run:
          name: Build library
          command: npm run -s build
      - run:
          name: Create npm package
          command: |
            npm pack
            mv enigma*.tgz enigma.tgz
      - store_artifacts:
          path: enigma.tgz
      - store_artifacts:
          path: jsdoc
      - store_artifacts:
          path: coverage
