version: 2

defaults: &defaults
  working_directory: ~/enigma.js
  # Available images https://hub.docker.com/r/circleci/node/tags/
  docker:
    - image: circleci/node:12.22.7
    
jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Install dependencies
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run:
          name: Lint source code
          command: npm run -s lint
      - run:
          name: Check if API specification should be updated
          command: |
            npm run scriptappy
            git diff --exit-code --name-only docs/api-spec.json
      - run:
          name: Build
          command: |
            npm run -s build
      - run:
          name: Execute all tests
          command: |
            npm run test
            if [ ! -z "$COVERALLS_REPO_TOKEN" ]; then
              echo "Uploading coverage results to coveralls.io..."
              cat coverage/lcov.info | npx coveralls
            fi
      - run:
          name: Verify examples
          command:
            test/examples/run.sh
      - store_artifacts:
          path: coverage
  api-governance:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/enigma.js
      - run:
          name: Create version.txt
          command: |
              set -x
              if [ -n "${CIRCLE_TAG}" ]; then
                  version=${CIRCLE_TAG#v}
              else
                  version=$(git describe --tags --abbrev=7 --match "v*")
                  version=${version#v}
              fi
              echo "$version" > ./version.txt
              echo "Building $version"
      - run:
          name: Prepare API Compliance
          command: |
            docker pull ghcr.io/qlik-download/api-compliance
            docker create -v /specs --name specs alpine:3.4 /bin/true
            cd ~/enigma.js && docker cp ./docs/api-spec.json specs:/specs
      - run:
          name: Run API Compliance
          command: >
            VER=$(cat ./version.txt)
            docker run --volumes-from specs
            -e SPEC_PATHS="0f0b4c98-db9c-46c7-8958-2a98bd15a946@/specs/api-spec.json"
            -e COMMIT_SHA="$CIRCLE_SHA1"
            -e RELEASE_TAG="$VER"
            -e CREDENTIALS_S3_SECRETKEY="$APICULTURIST_S3"
            -e CREDENTIALS_GITHUB="$APICULTURIST_GITHUB"
            -e CREDENTIALS_COLONY="$APICULTURIST_TOKEN"
            ghcr.io/qlik-download/api-compliance
workflow:
 version: 2
 build-all:
   jobs:
     - build
     - api-governance:
         context: api-compliance
         requires:
           - build

